/* How a CSS file should be organised */

/* Variables */ 
:root {
  
  /* Colours */
  --ice: rgb(241, 247, 254); /* #e5edf9 */
  --sky: rgb(153, 186, 232); /* #99bae8 */
  --water: rgb(77, 134, 215); /* #4d86d7 */ 
  --purpose: rgb(1, 83, 198); /* #0153c6 */ 
  --possibility: rgb(252, 252, 252); /* #fcfcfc */
  --cloud: rgb(231, 231, 232); /* #e7e7e8 */ 
  --dust: rgb(162, 162, 165); /* #a2a2a5 */
  --silver: rgb(91, 91, 96); /* #5b5b60 */
  --universe: rgb(22, 22, 29); /* #16161d */
  --people: rgb(255, 153, 0); /* #ff9900 */ 
  --systems: rgb(204, 0, 0); /* cc0000 */
  --innovation: rgb(77, 174, 126); /* #4dae7e */
  --products: rgb(0, 255, 224); /* #00ffe0 */ 
  --money: rgb(255, 244, 46); /* #fff42e */
  --growth: rgb(255, 0, 98); /* #ff0062 */ 

  /* Shapes */
  --tear: 50% 50% 50% 0; 
  --inverseTear: 0 0 0 50%; 
  --tearCorner: 100px; 

  /* Font */
  --mainFontSize: 12px; 
  --primaryFont: Josefin Sans;
  --secondaryFont: Pontano Sans; 
  --tertiaryFont: Istok Web;

}

html { background: var(--possibility); font-family: var(--coreFont); color: var(--universe); }

/* Core framework styles */

/* --------------- S ------------------- */ 
/* Blues */
.iceBack { background: var(--ice); }
.skyBack { background:var(--sky); }
.waterBack { background: var(--water); }
.purposeBack { background: var(--purpose); }
.iceFront { color: var(--ice); }
.skyFront { background: var(--sky); }
.waterFront { background: var(--water); }
.purposeFront { background: var(--purpose); }

/* Greys */
/* Light */ 
.possibilityBack { background: var(--possibility); }
.dustBack { background: var(--dust); } 
.possibilityFront { color: var(--possibility); }
.dustFront { color: var(--dust); } 

/*Dark*/
.cloudBack { background: var(--cloud); }
.silverBack { background: var(--silver); }
.universeBack { background: var(--universe); }
.cloudFront { color: var(--cloud); }
.silverFront { color: var(--silver); }
.universeFront { color: var(--universe); }

/* Functional */

/* Dark */
.peopleBack { background: var(--people); }
.systemsBack { background: var(--systems); }
.innovationBack { background: var(--innovation); }
.peopleFront { color: var(--people); }
.systemsFront { color: var(--systems); }
.innovationFront { color: var(--innovation); }

/* Light */
.productsBack { background: var(--products); }
.moneyBack { background: var(--money); }
.growthBack { background: var(--growth); }

/* --------------- GRADIENTS ------------------- */ 

/* Dark */
.peopleUniverseHG { background: linear-gradient(270deg, var(--universe) 0%, var(--people) 100%); }
.systemsUniverseHG { background: linear-gradient(270deg, var(--universe) 0%, var(--systems) 100%); }
.innovationUniverseHG { background: linear-gradient(270deg, var(--universe) 0%, var(--innovation) 100%); }
.peopleSilverHG { background: linear-gradient(270deg, var(--silver) 0%, var(--people) 100%); } 
.systemsSilverHG { background: linear-gradient(270deg, var(--silver) 0%, var(--systems) 100%); } 
.innovationSilverHG { background: linear-gradient(270deg, var(--silver) 0%, var(--innovation) 100%); } 
.peopleCloudHG { background: linear-gradient(270deg, var(--cloud) 0%, var(--people) 100%); } 
.systemsCloudHG { background: linear-gradient(270deg, var(--cloud) 0%, var(--systems) 100%); } 
.innovationCloudHG { background: linear-gradient(270deg, var(--cloud) 0%, var(--innovation) 100%); } 

/* Light */
.possibilityProductsHG { background: linear-gradient(270deg, var(--products) 0%, var(--possibility) 100%); }
.possibilityMoneyHG { background: linear-gradient(270deg, var(--money) 0%, var(--possibility) 100%); }
.possibilityGrowthHG { background: linear-gradient(270deg, var(--growth) 0%, var(--possibility) 100%); }
.dustProductsHG { background: linear-gradient(270deg, var(--products) 0%, var(--dust) 100%); }
.dustMoneyHG { background: linear-gradient(270deg, var(--money) 0%, var(--dust) 100%); }
.dustGrowthHG { background: linear-gradient(270deg, var(--growth) 0%, var(--dust) 100%); }
.dustPeopleHG { background: linear-gradient(270deg, var(--people) 0%, var(--dust) 100%); } 
.dustSystemsHG { background: linear-gradient(270deg, var(--systems) 0%, var(--dust) 100%); } 
.dustInnovationHG { background: linear-gradient(270deg, var(--innovation) 0%, var(--dust) 100%); } 


/* There should be 24 colour + grey options 
possibilty + money, growth, products 
dust + everything (including blues and other greys)
silver + everything 
cloud + everything 
universe + innovation, systems, people 
all blue combos 
all grey combos */

/* Typography */
h1, h2, h3, h4, h5, h6 { margin: 0.5em 0 0.5em 0; font-family: var(--primaryFont); }
h1 { font-size: calc(var(--mainFontSize) * 6); }
h2 { font-size: calc(var(--mainFontSize) * 4); }
h3 { font-size: calc(var(--mainFontSize) * 3); }
h4 { font-size: calc(var(--mainFontSize) * 1.5); }
h5 { font-size: calc(var(--mainFontSize) * 1.3); }
h6 { font-size: calc(var(--mainFontSize) * 1.1); }
p { font-size: var(--mainFontSize);} 

/* Forms */

/* ATOMS */

/* Buttons */

/* Input */ 

/* Select */

/* Textarea */

/* Quote */

/* Video */

/* Image / Picture */

/* Lists */ 

/* Notification */

/* Links */ 

/*  */

/* MOLECULES */

/* COMPOUNDS */ 

/* TEMPLATES */

/* PAGES */