/* How a CSS file should be organised */

/* Variables */ 
:root {
  
  /* Colours */
  --ice: rgb(241, 247, 254);
  --sky: rgb(153, 186, 232);
  --water: rgb(77, 134, 215); 
  --purpose: rgb(1, 83, 198); 
  --possibility: rgb(252, 252, 252);
  --dust: rgb(231, 231, 232);
  --cloud: rgb(162, 162, 165);
  --silver: rgb(91, 91, 96);
  --universe: rgb(22, 22, 29);
  --people: rgb(32, 28, 23);
  --systems: rgb(204, 0, 0);
  --innovation: rgb(77, 174, 126);
  --products: rgb(0, 255, 224);
  --money: rgb(255, 244, 46);
  --growth: rgb(255, 0, 98);

  /* Shapes */
  --tear: 50% 50% 50% 0; 
  --inverseTear: 0 0 0 50%; 
  --tearCorner: 100px; 

  /* Font */
  --mainFontSize: 12px; 
  --primaryFont: Josefin Sans;
  --secondaryFont: Pontano Sans; 
  --tertiaryFont: Istok Web;

}

html { background: var(--possibility); font-family: var(--coreFont); color: var(--universe); }

/* Core framework styles */

/* --------------- COLOURS ------------------- */ 
/* Blues */
.iceColourBack { background: var(--ice); }
.skyColourBack { background:var(--sky); }
.waterColourBack { background: var(--water); }
.purposeColourBack { background: var(--purpose); }
.iceColourFront { color: var(--ice); }
.skyColourFront { background: var(--sky); }
.waterColourFront { background: var(--water); }
.purposeColourFront { background: var(--purpose); }

/* Greys */
/* Light */ 
.possibilityColourBack { background: var(--possibility); }
.dustColourBack { background: var(--dust); } 
.possibilityColourFront { color: var(--possibility); }
.dustColourFront { color: var(--dust); } 

/*Dark*/
.cloudColourBack { background: var(--cloud); }
.silverColourBack { background: var(--silver); }
.universeColourBack { background: var(--universe); }
.cloudColourFront { color: var(--cloud); }
.silverColourFront { color: var(--silver); }
.universeColourFront { color: var(--universe); }

/* Functional */

/* Dark */
.peopleColourBack { background: var(--people); }
.systemsColourBack { background: var(--systems); }
.innovationColourBack { background: var(--innovation); }
.peopleColourFront { color: var(--people); }
.systemsColourFront { color: var(--systems); }
.innovationColourFront { color: var(--innovation); }

/* Light */
.productsColourBack { background: var(--products); }
.moneyColourBack { background: var(--money); }
.growthColourBack { background: var(--growth); }

/* --------------- GRADIENTS ------------------- */ 

/* Dark */
.peopleUniverseHG { background: linear-gradient(270deg, var(--universe) 0%, var(--people) 100%); }
.systemsUniverseHG { background: linear-gradient(270deg, var(--universe) 0%, var(--systems) 100%); }
.innovationUniverseHG { background: linear-gradient(270deg, var(--universe) 0%, var(--innovation) 100%); }
.peopleSilverHG { background: linear-gradient(270deg, var(--silver) 0%, var(--people) 100%); } 
.systemsSilverHG { background: linear-gradient(270deg, var(--silver) 0%, var(--systems) 100%); } 
.innovationSilverHG { background: linear-gradient(270deg, var(--silver) 0%, var(--innovation) 100%); } 
.peopleCloudHG { background: linear-gradient(270deg, var(--cloud) 0%, var(--people) 100%); } 
.systemsCloudHG { background: linear-gradient(270deg, var(--cloud) 0%, var(--systems) 100%); } 
.innovationCloudHG { background: linear-gradient(270deg, var(--cloud) 0%, var(--innovation) 100%); } 

/* Light */
.possibilityProductsHG { background: linear-gradient(270deg, var(--products) 0%, var(--possibility) 100%); }
.possibilityMoneyHG { background: linear-gradient(270deg, var(--money) 0%, var(--possibility) 100%); }
.possibilityGrowthHG { background: linear-gradient(270deg, var(--growth) 0%, var(--possibility) 100%); }
.dustProductsHG { background: linear-gradient(270deg, var(--products) 0%, var(--dust) 100%); }
.dustMoneyHG { background: linear-gradient(270deg, var(--money) 0%, var(--dust) 100%); }
.dustGrowthHG { background: linear-gradient(270deg, var(--growth) 0%, var(--dust) 100%); }

/* Typography */
h1, h2, h3, h4, h5, h6 { margin: 0.5em 0 0.5em 0; font-family: var(--primaryFont); }
h1 { font-size: calc(var(--mainFontSize) * 6); }
h2 { font-size: calc(var(--mainFontSize) * 4); }
h3 { font-size: calc(var(--mainFontSize) * 3); }
h4 { font-size: calc(var(--mainFontSize) * 1.5); }
h5 { font-size: calc(var(--mainFontSize) * 1.3); }
h6 { font-size: calc(var(--mainFontSize) * 1.1); }
p { font-size: var(--mainFontSize);} 

/* Forms */

/* ATOMS */

/* Buttons */

/* Input */ 

/* Select */

/* Textarea */

/* Quote */

/* Video */

/* Image / Picture */

/* Lists */ 

/* Notification */

/* Links */ 

/*  */

/* MOLECULES */

/* COMPOUNDS */ 

/* TEMPLATES */

/* PAGES */